:root {
    --safe-bottom: env(safe-area-inset-bottom, 20px);
    --safe-left: env(safe-area-inset-left, 20px);
    --safe-right: env(safe-area-inset-right, 20px);
    --safe-top: env(safe-area-inset-top, 20px);
    --color-bg-body: #efefef;
    --color-bg-button1: #ffa500;
    --color-bg-light-button1: #ffc500;
    --color-bg-button2: #cdcdcd;
    --color-bg-light-button2: #dfdfdf;
    --color-border-button2: #909090;
    --color-accent: #323232;
}

* {
    box-sizing: border-box;
    font-kerning: auto;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

html {
    background-color: var(--color-bg-body);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    color: black;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

section {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3rem;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 32rem;
}

input[type="text"],
input[type="number"],
input[type="submit"] {
    border-color: darkgray;
    border-style: solid;
    border-width: 2px;
    font-size: 2rem;
    height: 3rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

input[type="submit"] {
    background-color: var(--color-bg-button1);
    border-style: none;
    color: black;
    font-weight: bold;
    height: unset;
    padding: 1rem;
    transition: all 0.5s;
}

input[type="submit"]:hover {
    background-color: var(--color-bg-light-button1);
    color: black;
    cursor: pointer;
}

input[type="submit"]:active {
    background-color: white;
    border-color: black;
    color: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="checkbox"] {
    accent-color: var(--color-accent);
    height: auto;
}

input[type="range"] {
    accent-color: var(--color-accent);
    margin: 0 0.5rem 0 0.5rem;
}

fieldset {
    text-align: center;
    border-width: 1px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: 1rem;
}

legend {
    text-align: left;
}

label {
    margin-right: 1rem;
}

.rangebt {
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    font-weight: bold;
    background-color:var(--color-bg-button2);
    border-style: solid;
    border-color: var(--color-border-button2);
}

.rangebt:hover {
    background-color: var(--color-bg-light-button2);
}

#info {
    margin-bottom: 1rem;
    text-align: center;
}

#out {
    color: grey;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    transition: all 0.4s;
}

#out:active {
    background-color: orange;
    border-style: dotted;
    color: black;
}

@media (max-width: 500px) {
    section {
        padding: 1rem;
    }

    form {
        width: inherit;
    }

    #out {
        font-size: 1.5rem;
        word-wrap: break-word;
        word-break: break-all;
    }
}